<a href="https://colab.research.google.com/github/Shuaib11-Github/ALMABETTER/blob/main/Assignment_Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [27]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [28]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

In [29]:
# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)

In [30]:
# Swap the highest and the lowest temperatures

temperatures[min_temp_index], temperatures[max_temp_index] = max_temp, min_temp

In [31]:
# Print the output list
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [32]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [38]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list) / len(prod_price_list)
print(mean_price)

1975.0

In [46]:
sum(prod_price_list)

19750

### Calculate the median price

In [45]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [41]:
# Check if the number of elements in the list is even or odd
len(prod_price_list) % 2

0

In [74]:
len(sorted_prices)//2, len(sorted_prices)//2 - 1

(5, 4)

In [76]:
sorted_prices[(len(sorted_prices)//2 - 1)], sorted_prices[(len(sorted_prices)//2)]

(550, 600)

In [78]:
# Use the corresponding formula to calculate the median and print the median
median_price = (sorted_prices[(len(sorted_prices)//2 - 1)] +  sorted_prices[(len(sorted_prices)//2)])/ 2
print(median_price)

575.0

In [82]:
# Check which is greater, mean or median
(mean_price > median_price)

True

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :  Because of an outlier present in the list, mean are sensitive towards outliers and median is least affected.

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [104]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [110]:
# Write your code below
# output list
correct_tech_companies = []
  
# function used for removing nested 
# lists in python. 
def removeNestings(l):
    for i in l:
        if type(i) == list:
            removeNestings(i)
        else:
            correct_tech_companies.append(i)
  
# Driver code
print ('The original list: ', tech_companies)
removeNestings(tech_companies)
print ('The list after removing nesting: ', correct_tech_companies)

The original list:  ['Qualcomm', 'Google', 'Apple', ['Nvidia', 'Cisco', 'Samsung']]
The list after removing nesting:  ['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [108]:
# Do the same task another way

['Q', 'u', 'a', 'l', 'c', 'o', 'm', 'm', 'G', 'o', 'o', 'g', 'l', 'e', 'A', 'p', 'p', 'l', 'e', 'Nvidia', 'Cisco', 'Samsung']